body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-frame {
  margin: 5%;
  width: calc(80vw);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(white));
  padding: 5%;
}

.customers-actions {
  background: #AAA;
  padding: 10px;
  margin: 10px;
}

.customers-actions button {
  background: white;
  min-width: 100px;
  height: 30px;
  margin: 5px;
}

.customers-list-item .field {
  width: 160px;
  margin: 1px;
  padding: 4px;
  background: #eee;
  display: inline-block;
}